
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menubar, toolbar, nav-bar, #TabsToolbar > *{
  background-color: #34495E  !important;
}

 .tab-background-middle[selected=true]:not(:-moz-lwtheme) {
     background-color: white !important;
}

tab[selected="true"] {
    background-color:  #3498DB !important;
    color: black !important;
}
tab:not([selected="true"]) {
    background-color: #34495E !important;
}
